.WebContainer{
  width: 100%;
  height: auto;
}

.container1{
  overflow: hidden;
}

ul li a{
  font-family: fantasy;
}
ul li a:hover{
  background-color: rgba(21, 27, 5, 0.733);
  color: aliceblue;
}


.header {
  padding: 40px;
  text-align: center;
  background-image: url("food2.jpg");
  color: rgba(21, 27, 5, 0.904);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  
}
  
  /* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
  font-family: fantasy;
}

.judul{
  font-weight: bold;
}

.col-md-10{
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1.5pt solid #E4DFDA;
}

.col-md-5{
  padding: 5px;
  margin-top: 10px;
  margin-left: 1px;
}

.col-md-2{
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

a#skripsi{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 20pt;
}

.result{
  color: rgba(26, 51, 31, 0.829);
  font-variant: unset;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{

  padding: 20px;
  margin-left: 565px;
}

footer{
  background-color: rgb(34, 31, 32);
  color: whitesmoke;
  padding: 20px;
  margin-top: 110px;
}

form{
  margin-top: 20px;
  transform: translateY(15px);
}

input#titleBar{
  padding: 6px;
  width: 500px;
  background-color: rgba(51, 48, 43, 0.835);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: ridge;
  color: aliceblue;
  border-radius: 30px;
}

input#nameBar{
  padding: 6px;
  width: 500px;
  background-color: rgba(51, 48, 43, 0.835);
  background-blend-mode: soft-light;
  border-style: ridge;
  border-radius: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  color: aliceblue;
}


.dropdown{
  padding: 2px;
  border-style: none;
  border-radius: 20px;
  margin-top: 5px;
  margin-inline-start: 400px;
  transform: translateY(-10px); 
  width: 200px;
  background-color: rgba(35, 37, 34, 0.801);
  margin-left: 0px;
  margin-right: 240px;
  color: aliceblue;
}

.row{
  padding-left: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lokasi{
  padding-left: 0px;
  padding-right: 13px;
}
.button#search{
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 125px;
  width: 250px;
  background-color: rgb(51, 48, 43);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.jenis{
  margin-top: 20px;
  margin-right: 72px; 

}

.trend{
    margin-right: 72px;
}

input#search{
  background-position: 0px;

}

/* css login */
.container#login{
  height:480px;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color:#1abc9c;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

img{
  width: 577; 
  height: 433;
  margin-top: 80px;
  margin-left: -200px;
}

.welcome{
  transform: rotate(-90deg);
  margin-left: -250px;
  color: white;
}

.btn-login{
  justify-content: flex-end;
  display: flex;
  margin-bottom: 25px;
  margin-top: 30px;
  font-size: 24px;
  background-color: blue;
  color: white;

}

.form-word{
  margin-left: 0px;
  margin-top: -90px;
  font-size: 25px;
  color: white;
}

.form-group{
  margin-top: 120px;
  width: 100px;
}

/* css skripsi */

.col-md-8#title{
  margin-top: 30px;
  padding: 15px;
}

.btn-holder {
  justify-content: flex-end;
  display: flex;
  margin-right: 50px;
  margin-bottom: 50px;
}

p#judul{
  font-weight: bold;;
  margin-left: 15px;
  font-size: 18pt;
  color: white;
}

article#abstrak{
  margin-top: 15px;
  padding: 3px;
  font-style: italic;
}

.imgSkripsi{
  width: 300px; 
  height: 400px;
  margin-top: 35px;
  margin-left: 10px;
}